__pycache__/
*.pyc
app/static/uploads/*
app/static/reports/*
app/static/frames/*
!app/static/uploads/.gitkeep
!app/static/reports/.gitkeep
!app/static/frames/.gitkeep
potholes.db
data/
.env
venv/
.DS_Store
*.pt
